.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.DotSettings.user
TestResults/
BenchmarkDotNet.Artifacts/
local/
.local/
*.nupkg
*.snupkg
.idea/

# VitePress documentation
website/node_modules/
website/.vitepress/cache/
website/.vitepress/dist/
website/vitepress*.log
website/*/.vitepress/cache/
